@font-face {
  font-family: 'RickAndMorty';
  src: local('RickAndMorty'), url(./fonts/rickAndMorty.ttf) format('ttf');
}

:root {
  --text-primary: rgba(255, 255, 255, 0.87);
  --color-primary-1: #5e9732;
  --color-primary-2: #67ec00;
  --color-dark: #1e1f1c;
  --card-width: 175px;

  font-family: 'RickAndMorty', monospace, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100vh;
}
